/* Include Normalize.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

html,
body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: #cccccc;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 390px;
  padding: 0%;
  height: 100%;
}

.info {
  margin-top: 90px;
  white-space: nowrap;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  padding-right: 150px;
}

h1 {
  font-size: 3.8em;
}

.body_info {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  /* margin-left: 50px; */
  /* padding-left: 80px; */
}

.tableContents {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tableContents li:before {
  content: "-";
  margin-right: 10px;
}

/**/
/* ul { */
/*   list-style-type: none; */
/*   padding: 0%; */
/* } */
/**/
/* li { */
/*   display: inline; */
/*   margin-right: 10px; */
/* } */
/**/
/* a { */
/*   text-decoration: none; */
/* } */
/**/
/* footer { */
/*   /* padding: 20px 0; */
/*   padding: 0px; */
/*   border-radius: 50px; */
/*   margin: 0 auto; */
/*   /* margin-right: 40%; */
/*   /* margin-left: 40%; */
/*   /* margin-bottom: 0.5%; */
/*   background-color: rgba(211, 211, 211, 0.3); */
/*   /* Light gray with 50% transparency */
/*   /* background-color: rgba(0, 255, 255, 0.7); /* Aqua color with 70% opacity */
/*   text-align: center; */
/*   display: flex; */
/*   justify-content: space-around; */
/*   /* position: fixed; */
/*   /* bottom: 0; */
/*   /* left: 0; */
/*   /* right: 0; */
/* } */
/**/
/* .img-small { */
/*   width: 38px; */
/*   height: 38px; */
/*   margin: 3.5px; */
/*   border-radius: 30%; */
/*   transition: transform 0.3s ease-in-out; */
/* } */
/**/
/* .img-small:hover  */
/*   transform: scale(1.2); */
/*   /* Enlarge the icon on hover */
